exportPattern("^[[:alpha:]]+")
export(upset.hp)
import(lme4)
import(MuMIn)
import(ggplot2)
import(vegan)
import(rdacca.hp)
import(glmm.hp)
import(gam.hp)
import(phylolm.hp)
import(lme4)
import(partR2)
import(vegan)
import(ggplot2)
import(patchwork)
import(grDevices)
importFrom("utils", "tail")